* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  position: relative;
  padding-bottom: 4rem;
  font-family: 'Roboto', sans-serif;
}

a,
a:visited {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.active {
  color: white;
  font-weight: bold;
  border-bottom: 5px solid white;
  padding: 0.2rem 0;
}

/* //////////////////
MAIN NAVIGATION
////////////////// */

.main-nav {
  background: #777;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 4rem;
  padding: 0.5rem;
  color: white;
}

.logo {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 1.5rem;
  display: inline-block;
  position: absolute;
  top: 22%;
  left: 1.5%;
}

.main-nav__list {
  list-style: none;
  text-align: right;
  margin: 1rem;
  width: calc(100%-200px);
  vertical-align: middle;
}

.main-nav__link {
  display: inline-block;
  margin: 0 1rem;
}

.logo:hover,
.main-nav__link:hover,
.main-nav__link:active {
  color: white;
  font-weight: bold;
  border-bottom: 5px solid white;
  padding: 0.2rem 0;
}

/* //////////////////
ASIDE
////////////////// */

.external-references {
  margin: 6rem auto 0 auto;
  width: 90%;
  height: 35vw;
  position: relative;
}

.image-container {
  position: absolute;
  left: 0;
  width: 60%;
  max-height: 100%;
  margin-right: 3rem;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

img {
  width: 100%;
}

.external-link {
  color: white;
  background: #777;
  display: block;
  width: 35%;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
}

.external-link__2 {
  bottom: 0;
}

/* //////////////////
MAIN BODY
////////////////// */

main {
  width: 90%;
  height: 60%;
  margin: 3rem auto;
}

.title {
  background: #777;
  text-align: center;
  padding: 1rem;
  color: white;
  font-family: 'Allerta Stencil', sans-serif;
}

.cards {
  margin: 0 auto;
}

.cards article {
  background: #777;
  display: inline-block;
  width: 15%;
  margin: 0 8.9%;
  padding: 0.5rem;
  color: white;
  vertical-align: middle;
}

.articles {
  background: #777;
  width: 100%;
  margin: auto;
  margin-bottom: 2rem;
  clear: left;
}

.articles-nav__tabs {
  list-style: none;
  border-bottom: solid white 2px;
  padding: 1rem 1rem;
  color: white;
}

.articles-nav__tab {
  display: inline-block;
  width: 24%;
  margin: 0;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
}

.articles-nav__tab:hover {
  color: white;
  font-weight: bold;
  border-bottom: 5px solid white;
  padding: 0.2rem 0;
}

.articles-content {
  text-align: justify;
  padding: 2rem;
  color: white;
}

.articles-content__1 {
  display: none;
}

.articles-content__2 {
  display: none;
}

.articles-content__3 {
  display: none;
}

.articles-content__4 {
  display: none;
}

/* //////////////////
FOOTER
////////////////// */

.main-footer {
  background: #777;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  color: white;
}

.copyright {
  display: inline-block;
  text-align: left;
  padding-top: 0.5rem;
}

.contacts {
  margin-right: 2rem;
  float: right;
  display: inline-block;
}

.linkedin {
  background-image: url("LinkedIn-Mark.png");
  background-repeat: no-repeat;
  background-size: 1rem;
  padding-left: 1.2rem;
}

.github {
  background-image: url("GitHub-Mark.png");
  background-repeat: no-repeat;
  background-size: 1rem;
  padding-left: 1.2rem;
}