body {
  background: #777;
  margin: 0;
}

/* //////////////////
MAIN NAVIGATION
////////////////// */

.main-nav {
  background: #9d9d9d;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem;
}

.logo {
  display: inline-block;
  float: left;
}

.main-nav__list {
  list-style: none;
  text-align: right;
  margin: 1rem;
  width: calc(100%-200px);
  vertical-align: middle;
}

.main-nav__link {
  display: inline-block;
  margin: 0 0.5rem;
}

/* //////////////////
ASIDE
NOT APPEARING ON PAGE WHEN MAIN NAV STYLED
////////////////// */

/* //////////////////
FOOTER
////////////////// */

.main-footer {
  background: #919191;
  width: 100%;
  padding: 1rem;
}

.copyright {
  float: left;
}

.contact {
  margin-right: 2rem;
  text-align: right;
}