body {
  background: grey;
}

.flag {
  height: 300px;
  width: 500px;
}

tr:nth-child(2n+1) {
  background: red;
}

tr:nth-child(2n+2) {
  background: white;
}

.stars {
  background-image: url("../sampleImages/easy.png");
  background-size: contain;
  background-repeat: no-repeat;
}

tr {
  border: 1px solid black;
}

.short-row {
  width: 56.3%;
}