.body {
  background: grey;
}

.flag {
  margin: 0 auto;
}

tr:nth-child(2n+1) {
  background: red;
}

tr:nth-child(2n+2) {
  background: white;
}

.stars {
  background-image: url("../sampleImages/easy.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  height: 
}

tr {
  width: 500px;
  height: 23.0769px;
  display: block;
  border: 1px solid black;
}