body {
  background: green;
}

.board {
  width: 80%;
  margin: 0 auto;
}

.column {
  display: inline-block;
  width: 10%;
  margin: 0;
  padding: 0;
  float: left;
}

.column div {
  display: block;
  margin: 0;
  width: 100%;
  padding-top: 100%;
}

.white {
  background: white;
}

.black {
  background: black;
}